:is(.navbar, .navbar a, .navbar svg) {
    /*background-color: #588dfa;*/
    color: ghostwhite;
    font-weight: bold;
}

.header {
    position: relative;
    width: 100%;
}

.header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    z-index: -1;
}