@font-face {
    font-family: "JetBrains Mono";
    /*src: local('../fonts/webfonts/JetBrainsMono-Regular.woff2');*/
    src: url('./fonts/webfonts/JetBrainsMono-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --basefont-size: 36px;
    --text-dark: #555;
    --primary-blue: #0077ff;
}

html,
body {
    font-family: "JetBrains Mono", monospace;
}

body.dark-theme {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
}

body.light-theme,
body.dark-theme {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--primary-blue, #0077ff);
}

:is(.experience-header, .skills-header, .contacts-header) h2 {
    color: blue;
}

:is(.experience-header, .skills-header, .contacts-header) h1 {
    color: mediumblue;
}

header:has(ul) {
    color: red;
}

article:has(time) {
    background-color: aqua;
    font-size: var(--basefont-size);
}

article:not(:has(footer)) {
    font-style: italic;
}

:where(h1, h2, h3) {
    font-weight: bold;
    color: var(--text-dark, #555);
    margin: 0;
}

li:nth-child(2 of :has(a)) {
    font-weight: bold;
}

.contacts:focus-within {
    background-color: coral;
}

.site-header:hover {
    background-color: coral;
}

.site-header {
    margin-block-start: 10px;       /*top*/
    margin-block-end: 10px;         /*bottom*/
    margin-inline-start: 10px;      /*left*/
    margin-inline-end: 10px;        /*right*/

    block-size: 75px;               /*top and bottom*/
    inline-size: 500px;             /*left and right*/

    padding-block: 10px;            /*top and bottom*/
    padding-inline: 10px;           /*left and right*/

    border-block: 2px solid green;  /*top and bottom*/
    border-inline: 1px solid red;   /*left and right*/

    inset: 10px 20px 30px 40px;     /*all sides*/
    inset-block: 10px 30px;
    inset-inline: 20px 40px;
}

:is(.experience, .skills, .contacts) {
    padding-block-start: 10px;      /*top*/
    padding-block-end: 10px;        /*bottom*/
    padding-inline-start: 10px;     /*left*/
    padding-inline-end: 10px;       /*right*/

    block-size: 110px;              /*top and bottom*/
    inline-size: 450px;             /*left and right*/

    border-block: 2px dashed green;  /*top and bottom*/
    border-inline: 1px dashed red;   /*left and right*/

    margin-block: 5px; /*top and bottom*/

    inset: 10px 20px 30px 40px;     /*all sides*/
    inset-block: 10px 30px;
    inset-inline: 20px 40px;
}

.product-card {
    background-color: ghostwhite;
    inline-size: 300px;
    padding-block: 20px;
    padding-inline: 15px;
    margin-inline: 15px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    border-block-end: 3px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);

    border-block-start: 1px solid #007bff;    /*first - create*/
    border-block-start-width: 20px;         /*then change only width*/
    border-inline-end: 2px solid ghostwhite;     /*first - create*/
    border-inline-end-color: #007bff;           /*then change only color*/
}

